body {
  overflow-x: scroll;
}

.grid-page {
  display: flex;
  flex-direction: column;
  height: 100vh;

  &__header {
    height: 60px;
    background: orange;
  }

  &__body {
    display: flex;
    height: calc(100vh - 60px);
  }

  &__body-left {
    min-width: 370px;
    height: 100%;
  }

  &__body-center {
    flex-grow: 1;
    min-width: 400px;
    height: 100%;
  }
}

.scrollable-container {
  height: 100%;
  display: flex;
  flex-direction: column;

  &__header {
    border-bottom: 1px solid #ced4da;
    padding: 20px 20px 40px;
  }

  &__content {
    overflow-y: scroll;
    height: 100%;
    padding: 8px 20px;

    &_left {
      padding-right: 10px;
    }

    &_right {
      padding-left: 10px;
    }
  }
}

.tree {

  &-list {
    padding-left: 30px;
  }

  &-group {

    &__row {
      border: 1px solid #ced4da;
      border-radius: 3px;
      padding: 5px 15px;
      color: #495056;
      position: relative;

      input[type="checkbox"] {
        cursor: default;
        margin-right: 10px;
      }

      &-link {
        cursor: default;
        display: inline-block;
        color: black;
      }

      &-actions {
        display: inline-block;
        float: right;
      }
    }

    & & &__row {
      margin-top: -1px;

      &:last-child {
        margin-bottom: -1px;
      }
    }
  }
}

.glyphicon {
  position: relative;
  top: -1px;
  width: 15px;
  height: 15px;
  display: inline-block;
  vertical-align: middle;
  margin: 0 1px 0 4px;

  &__add {
    background: url('/static/images/glyphicons-191-plus-sign.png') no-repeat center center /cover;

    &:hover {
      margin: 0 0 0 3px;
      width: 17px;
      height: 17px;
    }
  }

  &__edit {
    margin: 0 1px 0 3px;
    width: 17px;
    background: url('/static/images/glyphicons-151-edit.png') no-repeat center center /cover;

    &:hover {
      margin: 0 0 0 2px;
      width: 19px;
      height: 17px;
    }
  }

  &__delete {
    background: url('/static/images/glyphicons-198-remove-circle.png') no-repeat center center /cover;

    &:hover {
      margin: 0 0 0 3px;
      width: 17px;
      height: 17px;
    }
  }
}

.adding-input {
  width: 400px;

  &__wrapper {
    overflow: hidden;
    position: relative;
  }

  &_short {
    width: 300px;
  }

  &_right {
    float: right;
  }
}

.task-item {
  border: 1px solid #ced4da;
  border-radius: 3px;
  padding: 5px 15px;
  color: #495056;
  position: relative;
  line-height: 80px;
  margin-bottom: -1px;

  & input[type="checkbox"] {
    margin-right: 20px;
  }

  &__title {
    cursor: default;

    &:hover {
      color: #0056b3;
      text-decoration: underline;
    }
  }

  &__actions {
    display: inline-block;
    float: right;
  }
}
