@import url('https://fonts.googleapis.com/css?family=Patrick+Hand');

body {
  overflow-x: scroll;
  font-family: 'Patrick Hand', cursive;
  font-size: 20px;
  color: #495056;
}

.grid-page {
  display: flex;
  flex-direction: column;
  height: 100vh;

  &__header {
    min-height: 60px;
    padding: 15px 20px;
  }

  &__body {
    display: flex;
    height: calc(100vh - 60px);
  }

  &__body-left {
    min-width: 370px;
    height: 100%;
  }

  &__body-center {
    flex-grow: 1;
    min-width: 400px;
    height: 100%;
  }
}

.column-area {
  position: relative;

  &__container {
    position: relative;
    overflow: hidden;
  }

  &_left {
    float: left;
  }

  &_right {
    float: right;
  }
}

.scrollable-container {
  height: 100%;
  display: flex;
  flex-direction: column;

  &__header {
    padding: 20px 20px 40px;
  }

  &__content {
    border-top: 1px solid #ced4da;
    overflow-y: scroll;
    height: 100%;
    padding: 8px 20px;

    &_left {
      padding-right: 10px;
    }

    &_right {
      padding-left: 10px;
    }
  }
}

.tree {
  &-list {
    padding-left: 30px;
  }

  &-group {
    &__row {
      border: 1px solid #ced4da;
      border-radius: 3px;
      padding: 5px 15px;
      color: #495056;
      position: relative;

      input[type='checkbox'] {
        cursor: default;
        margin-right: 10px;
      }

      &-link {
        cursor: default;
        display: inline-block;
        color: #495056;
      }

      &-actions {
        display: inline-block;
        float: right;
      }
    }

    & & &__row {
      margin-top: -1px;

      &:last-child {
        margin-bottom: -1px;
      }
    }
  }
}

.glyphicon {
  position: relative;
  top: -1px;
  width: 15px;
  height: 15px;
  display: inline-block;
  vertical-align: middle;
  margin: 0 1px 0 4px;

  &:hover {
    margin: 0 0 0 3px;
    width: 17px;
    height: 17px;
  }

  &__add {
    background: url('/static/images/glyphicons-191-plus-sign.png') no-repeat center center /cover;
  }

  &__edit {
    margin: 0 1px 0 3px;
    width: 17px;
    background: url('/static/images/glyphicons-151-edit.png') no-repeat center center /cover;

    &:hover {
      margin: 0 0 0 2px;
      width: 19px;
    }
  }

  &__delete {
    background: url('/static/images/glyphicons-198-remove-circle.png') no-repeat center center /cover;
  }

  &__forward {
    margin: 0 3px 0 3px;
    width: 24px;
    background: url('/static/images/glyphicons-381-message-forward.png') no-repeat center center /cover;

    &:hover {
      margin: 0 0 0 0;
      width: 30px;
    }
  }
}

.adding-input {
  width: 400px;

  &__wrapper {
    overflow: hidden;
    position: relative;
  }

  &_short {
    width: 300px;
  }

  &_right {
    float: right;
  }
}

.task-item {
  border: 1px solid #ced4da;
  border-radius: 3px;
  padding: 5px 15px;
  position: relative;
  line-height: 80px;
  margin-bottom: -1px;

  & input[type='checkbox'] {
    margin-right: 20px;
  }

  &__title {
    cursor: default;
    color: #495056;

    &:hover {
      color: #0056b3;
      text-decoration: underline;
    }
  }

  &__actions {
    display: inline-block;
    float: right;
  }
}

.inline-control {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin-right: 30px;

  &_checkbox input[type='checkbox'] {
    margin-top: 8px;
  }

  &:last-child {
    margin-right: 0;
  }
}

.progress_thin {
  height: 7px;
}

.routing-test {
  opacity: 0.2;
  transition: 1s;

  &__container {
    min-height: 20px;
  }

  &__container:hover & {
    opacity: 1;
    transition: 1s;
  }
}
